<p id="notice"><%= notice %></p>

<h1>Coronavirus (COVID-19) Data</h1>
<h2>Crawled data from government websites for 50 states and DC (Updated 3/8/2020)</h2>
<h4>(<a href="mailto:dbyang@gmail.com">Contact me</a> for data dumps)</h4>

<table class="pretty" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tested</th>
      <th>Positive</th>
      <th>Deaths</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td>Total</td>
        <td><%= @tested %></td>
        <td><%= @positive %></td>
        <td><%= @deaths %></td>
      </tr>

    <% @states.each do |state| %>
      <tr>
        <td><%= state.name %></td>
        <td><%= state.tested %></td>
        <td><%= state.positive %></td>
        <td><%= state.deaths %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Download:</h4>
<a href="/states.csv">State data in csv format</a>

<h4>Sources:</h4>
<table>
	<tbody>
		<% @sources.each do |s| %>
			<tr>
				<td><%= s %></td>
			</tr>
		<% end %>
	</tbody>
</table>
