<p id="notice"><%= notice %></p>

<h1>Coronavirus (COVID-19) Testing Data</h1>

<h2>Crawled data from US government websites for 50 states and DC (Updated <%= @updated_date %>)</h2>

<h4><a href="mailto:dbyang@gmail.com">Contact me</a> for more data, or if you want to contribute to this project. 
The purpose of this project is to better understand the current status of testing and the disease spread of COVID-19.</h4>

<table class="pretty" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tested</th>
      <th>Positive</th>
      <th>Deaths</th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td>Total</td>
        <td><%= @tested %></td>
        <td><%= @positive %></td>
        <td><%= @deaths %></td>
      </tr>

    <% @states.each do |state| %>
      <tr>
	      <td><a href="<%= state.positive_source %>"><%= state.name %></a></td>
        <td><%= state.tested %></td>
        <td><%= state.positive %></td>
        <td><%= state.deaths %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Download:</h4>
<a href="/states.csv">State data in csv format</a>
<br>
<a href="/time_series.csv">Time series in csv format</a>


<h4>Sources:</h4>
<table>
	<tbody>
		<% @sources.each do |s| %>
			<tr>
				<td><%= s %></td>
			</tr>
		<% end %>
	</tbody>
</table>
