<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159990365-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'UA-159990365-1');
  </script>


  <title>CoronavirusAPI</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="main-nav">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About Us</a>
      <a href="/faq">FAQ</a>
    </nav>
  </div>
  <h1 class="main-header"> Coronavirus API Public Health Initiative</h1>
  <%= yield %>
</body>
</html>
